[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule ".bashrc.d/bash-git-prompt"]
	path = .bashrc.d/.bash-git-prompt/
	url = https://github.com/magicmonty/bash-git-prompt.git
